<div class="hero-unit">
	<h1>Welcome to Alan's Ruby on Rails Project!</h1>
	<p>
		You've found the home page for 
		<%= link_to "Alan's Ruby on Rails Project", "http://onemonthrails.com" %>
			application.
	</p>
	<p>
		<%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>